.container {
    background-color: white;
    padding: 40px; /* 내부 여백 */
    width: 400px; /* 폼 너비 */
    text-align: center; /* 가운데 정렬 */
}

.input {
    width: 90%; /* 100%말고 90%로 바꾸니까 여백 이뻐짐 ㅎㅎ */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid cadetblue;
}

.button {
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 10px 20px;
}
